src/main/app/objectstore-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <objectstore:config name="ObjectStore__Connector" partition="qwerqt344tr" objectStore-ref="_defaultUserObjectStore" doc:name="ObjectStore: Connector"/>
    <flow name="objectstore-pocFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/store" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object" />
        <objectstore:store config-ref="ObjectStore__Connector" key="#[payload.key]" value-ref="#[payload.value]" doc:name="ObjectStore"/>
        <set-payload value="KEY: #[payload.key] AND VALUE: #[payload.value] " doc:name="Set Payload"/>
    </flow>
    <flow name="objectstore-pocFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/retrieve" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <objectstore:retrieve config-ref="ObjectStore__Connector" key="#[payload.key]" doc:name="ObjectStore"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
